@page
@model proyecto_ruta.App.Presentacion.Pages.ListModel
@{
    var searchString = Model.searchString;
}

<h1>Listado de Acudientes</h1>
<p>

   @Html.ActionLink("Create New", "./List")

</p>

@using (Html.BeginForm())

{
   <p>

       Buscar x Nombre: @Html.TextBox("SearchString") 

       <input type="submit" value="Search" />

   </p>

}

<table class="table">
    @foreach (var acudiente in Model.acudientes)
    {
        <tr>
            <td>@acudiente.id</td>
            <td>@acudiente.numero_identificacion</td>
            <td>@acudiente.nombre</td>
            <td>@acudiente.primer_apellido</td>
            <td>@acudiente.segundo_apellido</td>
            <td>@acudiente.fijo</td>
            <td>@acudiente.movil</td>
            <td>@acudiente.mail</td>
            <td>@acudiente.direccion</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-acudienteId="@acudiente.id">
                    Detalle</a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-acudienteId="@acudiente.id">
                    Editar
                </a>
            </td> 

            <td>
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-acudienteId="@acudiente.id">
                    Eliminar
                </a>
            </td> 
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar un acudiente</a>